@page "/employees/view/{id:int?}"
@model RazorPages.Pages.Employees.DetailsModel
@{
    ViewData["Title"] = Model.Employee == null ? "Not Found" : Model.Employee.Name;
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="@Model.Employee.Photo" alt="@Model.Employee.Name"
                    asp-append-version="true">
                <h4>ID: @Model.Employee.Id</h4>
                <h4>Email: @Model.Employee.Email</h4>
                <h4>Department: @Model.Employee.Department</h4>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-primary" asp-page="Index">Back</a>
                <a class="btn btn-primary" asp-page="Index">Edit</a>
                <a class="btn btn-danger" asp-page="Index">Delete</a>
            </div>
        </div>
    </div>
</div>