@page "/employees/view/{id:range(1,100):int?}"
@using RazorPages.Models
@model RazorPages.Pages.Employees.DetailsModel
@{
    ViewData["Title"] = Model.Employee == null ? "Not Found" : Model.Employee.Name;

    int id = 1;
    string name = "Not Found";
    string email = "notfound@gg.mn";
    string photo = "~/images/no-image.jpg";
    Dept department = Dept.None;

    if (Model.Employee != null)
    {
        id = Model.Employee.Id;
        name = Model.Employee.Name ?? name;
        email = Model.Employee.Email ?? email;
        photo = $"~/images/{Model.Employee.Photo}" ?? photo;
        department = Model.Employee.Department ?? department;
    }
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@name</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="@photo" alt="@name" asp-append-version="true">
                <h4>ID: @id</h4>
                <h4>Email: @email</h4>
                <h4>Department: @department</h4>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-primary" asp-page="Index">Back</a>
                <a class="btn btn-primary" asp-page="Index">Edit</a>
                <a class="btn btn-danger" asp-page="Index">Delete</a>
            </div>
        </div>
    </div>
</div>